@import "../../styles/sizes";
@import "../../styles/colors";

.NeoIconTextButton {
  user-select: none;
  button {
    width: 100%;
    border: 0;
    outline: 0;
    font-size: $ruler;
    border-radius: $ruler*20;
    padding: $ruler;
    background-color:$color-bg;
    text-shadow: 1px 1px 0 $color-white;
    color: $color-text;
    box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;

    &:active {
      box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
    }

    .icon {
      margin-right: $ruler/2;
      font-size: $ruler * 1.2;
    }
  }
  
  &.disable {
    pointer-events: none;
    
    button {
      color: $color-gray !important;
    }
  }
}