$color-primary: var(--color-primary);
$color-primary-dark: var(--color-primary-dark);
$color-primary-light: var(--color-primary-light);
$color-bg: var(--color-bg);
$color-shadow: var(--color-shadow);
$color-text: var(--color-text);
$color-text-gray: var(--color-text-gray);
$color-text-secondary: var(--color-text-secondary);
$color-header: var(--color-header);

$color-white: var(--color-white);
$color-dark: var(--color-dark);
$color-red: var(--color-red);
$color-gray: var(--color-gray);
$color-gray-100: var(--color-gray-100);
$color-orange: var(--color-orange);
$color-orange-dark: var(--color-orange-dark);
$color-orange-light: var(--color-orange-light);
$color-green: var(--color-green);

$color-reader-selected: #6feaf6;