@import "../../styles/colors";
@import "../../styles/sizes";
@import "../../styles/utilities";

.ReaderList {
  width: 100%;
  height: 200px;
  display: flex;
  flex-flow: column wrap;
  overflow: auto;
  
  
  .NeoReader {
    margin: 10px;
  }
}